.allprices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.price {
    padding: 40px 20px; 
    text-align: center; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    width: 800px; 
    margin-top:80px;
    height: 250px;
}

.price h1 {
    font-size: 40px;
     color:#000925;
    margin-bottom: 20px;
}

.price p {
    font-size: 1.2em; 
    color: black; 
    line-height: 1.6; 
    margin-bottom: 40px; 
}



