.section1{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    gap: 70px;
}

.heading{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    text-align: center;
}

.heading h1{
    font-size: 43px;
     color:#000925;
}

.heading p{
    color: black;
    width: 610px;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}
.call li #call1, #call2{
    text-decoration: none;
    color:#000925;
    border: 1px black solid;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.call li #call2{
    background-color: #ff8800;
}

.call li #call2:hover{
     background-color: silver;
    transition-property: background-color;
    transition: background-color ease-in 0.5s;
}

.call li #call1:hover{
    color: #ff8800;
    transition-property: color;
    transition: color ease-in 0.5s;
}

.software{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.complogo{
   display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 24px;
    margin-top: -10px;
}

.complogo #complog{
    width: 150px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#complog img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.video{
    width: 810px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    margin-bottom: 220px;
}

.video video{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 12px solid silver;
    border-radius: 30px;
}