.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.section2 h1{
    font-size: 40px;
     color:#000925;
}

.benefit{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    width: 1000px;
    margin-top: 70px;
    margin-bottom: -230px;
}

#bene{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 310px;
    height: 280px;
    padding: 40px 18px 20px;
    gap: 15px;
    border-radius: 15px;
    border: 2px solid silver;
    background: rgba(255, 255, 255, 0.8); /* semi-transparent background */
    backdrop-filter: blur(10px); /* blur effect */
    -webkit-backdrop-filter: blur(10px);
}

#bene div{
    width: 45px;
    height: 45px;
    display: block;
}

#bene div img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

#bene h2{
    font-size: 20px;
    font-weight: 590;
    color: #000925;
    text-align: left;
    margin-left: 0;
}

#bene p{
    font-size: 16px;
    text-align: start;
    line-height: 1.3;
}

.callbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.callbar li{
    list-style: none;
    text-decoration: none;
}

.callbar li #call1 ,#call3{
    text-decoration: none;
    color: #000925;
    border: 1px black solid;
    padding: 10px 20px;
    border-radius: 8px;
}

.callbar li #call3{
    background-color: #ff8800;
}

.callbar li #call3:hover{
     background-color: silver;
    transition-property: background-color;
    transition: background-color ease-in 0.5s;
}

.callbar li #call1:hover{
    color: #ff8800;
    transition-property: color;
    transition: color ease-in 0.5s;
}

@media all and (max-width: 375px), all and (max-width: 414px), all and (max-width: 430px) {
    .section2 h1 {
        width: 90%;
        font-size: 30px;
        text-align: center;
    }

    .benefit {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 20px;
        width: 100%;
        padding: 0 10px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    #bene {
        width: 90%;
        height: auto;
        padding: 20px 13px;
        gap: 15px;
    }

    #bene h2 {
        font-size: 18px;
        width: 95%;
    }

    #bene p {
        font-size: 14px;
        line-height: 1.3;
    }

    .callbar {
        flex-direction: column;
        gap: 40px;
    }

    .callbar li #call1,
    .callbar li #call3 {
        font-size: 14px;
        padding: 8px 16px;
        color: #000925;
        font-weight: 500;
    }
}