.section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-bottom: 80px;
}

.section5 h1{
    font-size: 40px;
     color:#000925;
    margin-bottom: 50px;
}

.section5 p{
    font-size: 18px;
    margin-top: -40px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.section5 #span{
    font-size: 18px;
    text-decoration-line: underline;
    color:  #ff8800;
}

.popdown {
    margin-top: 20px;
}

#pops {
    margin-bottom: 15px;
    width: 700px;
}

#pops h3 {
    font-size: 22px;
    cursor: pointer;
    padding: 20px;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
    background: rgba(255, 255, 255, 0.5); /* semi-transparent background */
    backdrop-filter: blur(10px); /* blur effect */
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: 550;
    color: #000925;
}

#pops h3 #down{
    width: 20px;
    height: 20px;
    margin-right: 0;
}

#pops h3 #down img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


#pops h3:hover {
    background: rgba(255, 255, 255, 0.9); /* semi-transparent background */
    backdrop-filter: blur(10px); /* blur effect */
    -webkit-backdrop-filter: blur(10px);
}

#pops p {
    font-size: 1em;
    color: black;
    margin-top: 0;
    padding: 20px;
    display: none;
    line-height: 1.5;
}

#pops p.show {
    display: block; /* Show paragraph when the corresponding h3 is clicked */
    background: rgba(255, 255, 255, 0.9); /* semi-transparent background */
    backdrop-filter: blur(10px); /* blur effect */
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

