.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media all and (max-width: 375px), all and (max-width: 414px), all and (max-width: 430px) {
    .dashboard {
      padding: 10px;
    }
  }
  