.errorcheck {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
    height: auto; /* Adjust height to auto to fit content */
    top: 150px;
    width: 500px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.errorcheck form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}

.errorcheck .custom-file-upload {
    height: 110px;
    width: 450px;
    border: 2px dashed royalblue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorcheck #title {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0;
    font-weight: 550;
    color: #000925;
}

.errorcheck #hov:hover {
    color: royalblue; /* change color on hover if desired */
}

.errorcheck #description {
    margin: 10px 0;
    padding: 10px;
    height: 90px;
    width: 450px;
    border: 2px solid royalblue;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    line-height: 1.3;
}

.errorcheck #newbut {
    padding: 10px 15px;
    background-color: #000925;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-right: 0px;

}

.errorcheck #newbut:hover {
    background-color: #ff8800; 
}

.uploaded-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -5px;
    margin-bottom: 10px;
}

.image-preview {
    position: relative;
    width: 100px;
    height: 80px;
    border: 2px solid royalblue;
    border-radius: 5px;
    overflow: hidden;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-preview #buts {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #000925;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.image-preview #buts:hover{
    background-color: royalblue;
}

.image-preview button:hover {
    background: #000925;
}

#err .response-container {
    display: flex;
    flex-direction: column; 
    position: absolute;
    margin-left: 50em;
    top: 9.375em;
    width: 31.25em;
    height: auto; 
    box-shadow: 0 0.25em 1.25em rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow-y: auto; 
    overflow-x: hidden; 
  }
  
  #err .response {
    background-color: #f0f0f0;
    padding: 1em;
    border-radius: 0.25em;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
    width: 31.25em;
    height: 30.25em; 
    line-height: 1.3;
    color: #000925;
    font-size: 16px;
  }
  
 #err .report {
    position: relative; 
    align-self: flex-end; 
    padding: 0.625em 1.25em;
    font-size: 1em;
    color: white;
    background-color: #000925;
    border-radius: 0.625em;
    border: 0.0625em solid black;
    margin-left: 62%;
    margin-top: 4%;
  }
  
 #err .report:hover {
    background-color: #ff8800;
    border: none;
    border-bottom: 3px solid black;
  }
  

@media all and (max-width: 375px), all and (max-width: 414px), all and (max-width: 430px) {
    .errorcheck {
      position: relative;
      margin-left: 0.5em;
      top: 2.5em;
      width: calc(100% - 1em);
      padding: 1em;
      height: auto;
      margin-bottom: 36em;
    }
    #err .response-container {
        position: absolute;
        margin-left: 0.5em;
        width: calc(100% - 1em);
        height: 25em;
        margin-top: 10%;
        margin-bottom: 0%;
    }

    #err .report {
        font-size: 1em;
        margin-left: 20%;
        width: 60%;
        position: absolute;
        top: 26.2em;
    }

    .errorcheck .custom-file-upload {
        width: 100%;
        height: 100px;
    }

    .errorcheck #title {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .errorcheck #description {
        width: 100%;
        height: 120px;
        font-size: 14px;
    }

    .errorcheck #newbut {
        margin-left: 0%;
        width: 70%;
        font-size: 1em;
    }

    .uploaded-images {
        gap: 5px;
    }

    .uploaded-images img{
        max-width: 6em;
        max-height: 5em;
    }

    .image-preview button{
        width: 25px;
        height:25px;
    }

    .image-preview {
        width: 80px;
        height: 60px;
    }

    .image-preview #buts {
        padding: 3px;
        font-size: 10px;
    }


    #err .report{
        margin-top: -30%;
    }
}
