.fullbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 0;
    position: relative;
}


.flatbar{
    position: absolute;
    height: 60px;
    top: 0;
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: end;
    align-items: center;
    width:105%;
    margin-left: 0%;
    left: 220px;
}

.flatbar #right{
     margin-right:-73%;
     margin-left: 85.8%;
     display: flex;
}
.flatbar #right p{
    position: absolute;
}

.flatbar #beside{
    max-width: 10%;
    margin-left: 78%;
}


.sidebar{
    height: 600px;
    width: 220px;
    position: relative;
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.compilogo{
    width: 150px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -260px;
    margin-bottom: 150px;
}

.compilogo img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.sidebar .dashy{
  display: flex;
  align-items: start;
  justify-content: start;
  width:210px;
  gap: 1px;
  flex-direction: column;
  list-style: none;
  margin-top: -130px;
}

.sidebar .dashy .dashli{
    font-size: 16px;
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000925;
    margin-left: 0px;
    padding: 0px 30px;
    gap:10px;
}

.sidebar .dashy .dashli:hover{
    color: #ff8800;
}

#toplet{
    padding: 20px;
    margin-left: 1px;
    font-size: 15px;
    color: #000925;
}

#upgra{
    width: 220px;
    padding: 2px;
    border: 3px solid silver;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -220px;
    margin-top: 220px;
}

#upgra:hover{
    border: 3px solid #fa931d;
}

#upgra div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#upgra div h3{
    color: #000925;
    font-size: 14px;
    margin-left: 0;
}

#upgra p{
    color: rgb(70, 67, 67);
    font-size: 13px;
    padding: 2px 15px 5px 30px;
}


.sidebar #upgra{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    color: #000925;
}


.topbar{
    margin-left: 270px;
    width: 600px;
    height: 120px;
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 25px;
    margin-top: -250px;
    position: relative;
}

.topbar h1{
    color: #000925;
    font-size: 30px;
    margin-bottom: 15px;
}
.topbar span{
    background-color: #ff8800;
}

.select{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    column-gap: 50px;
    position: absolute;
    top: 300px;
    left: 29%;
}

#box{
    width: 280px;
    height: 250px;
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 30px rgb(231, 152, 45);
}

#box:hover{
    border: 5px solid #e7982d;
    transition: border;
}


.allicon , .dash{
    width:25px;
    height:25px;
}
.allicon #das , .dash #das{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.allbox{
    width:70px;
    height:70px; 
}

.allbox #das{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#box #opt {
    text-decoration: none;
    padding: 30px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
} 

#box #opt p{
    font-size: 22px;
    text-align: center;
    color: #000925;
    font-weight: 590;
}

#besides{
    margin-right: 5%;
}

.dropdown-menus {
    position: absolute;
    top: 3.72em;
    right:0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 150px;
    display: flex;
    flex-direction: column;
}

.dropdown-items {
    padding: 10px 15px;
    text-decoration: none;
    color: #000925;
    cursor: pointer;
    transition: background 0.3s;
}

.dropdown-items:hover {
    color:#ff8800
}


@media all and (max-width: 375px), all and (max-width: 414px), all and (max-width: 430px) {
    .fullbar {
      flex-direction: column;
      margin-left: 0;
    }
  
    .flatbar {
      display: none;
    }
  
    .sidebar {
        display: none;
    }
  
    .topbar {
      margin-left: 3.5%;
      width: 93%;
      height: auto;
      margin-top: 20%;
      padding: 20px;
      z-index:-1;
    }

    .topbar p{
        font-size: 15px;
    }

    .topbar h1 ,p{
        text-align: center;
    }
  
    .select {
      flex-direction: column;
      position: relative;
      row-gap: 20px;
      top: auto;
      left: auto;
      margin-top: 25%;
      margin-bottom: 20%;
      z-index:0;
    }
  
    #box {
      width: 93%;
      height: auto;
      margin-bottom: 15px;
    }

    #box #opt p{
        padding:0px;
        margin:0px;
        font-size: 20px;
    }

    .dropdown-menus {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        background-color: #f0f0f0;
        top: 48px;
        max-width: 50em;
        z-index: 1000;
        right:-0.5em;
    }
  }
  
